# Variáveis de ambiente
backend-programacoes/.env

# Logs
*.log
npm-debug.log*
backend-programacoes/logs/

# Dependências
backend-programacoes/node_modules/

# Sistema operacional (Windows/macOS)
.DS_Store
Thumbs.db
